{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="product_delete">
    {{ object.category_id }}
        Уверены, что хотите удалить {{ object.name }}
        ?
        <form action="{% url 'admin:product_delete' object.pk %}"
              method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin:products' object.category_id %}">
                Отмена
            </a>
        </button>
    </div>
{% endblock %}