{% extends 'authapp/base.html' %}
{% load static %}
{% load authapp_tags %}
{% block content %}
    <div class ="new_category_form">
        <form action="{% url 'auth:edit' %}" method = "post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            {{ edit_form.as_p }}
            {{ profile_form.as_p }}
            <br>
            <input type="submit" class="form-control" value="Сохранить">
            <a href="{% url 'main' %}" class="btn btn-link">на главную</a>
        </form>
        <div class="user_avatar"><img src="{{ user.avatar|avatar_folder }}" alt=""></div>
    </div>
{% endblock %}
